<header>
    <div class="container">
        <div class="row">
            <div class="col-2 p-0">
                <a href="/"><img src="/img/header/logo.png" alt="accueil"
                        class="img-responsive img-thumbnail border-0 p-0"></a>
            </div>
            <div class="col offset-3 p-0">

                <button class="menu-trigger" style="color: black; font-weight: bold;">
                    COLLECTION
                </button>
                <div class="menu-container">
                    <ul class="menu-items">
                        {{#each headerCategories}}
                        <li><a class="maybe" href="/category?id_category={{this.id}}">{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                </div>

            </div>
            <a href="" class="col p-0" style="color: black; font-weight: bold;">CONTACT US</a>
            <a href="" class="col p-0" style="color: black; font-weight: bold;">ABOUT US</a>
            <a href="/profile">
                <div class="col-xsm p-0" style="width: 63.13px;">
                <img src="/img/header/account.png" alt="" class="img-responsive img-thumbnail border-0"
                    style="max-height: 90%;">
            </div>
            </a>

            <a {{#if cartAccess}} href="/panier" {{else}} href="" {{/if}} class="panier-btn" >
                <button class="btn btn-warning"
                    style="background-color: orange; width: 190px; height: 55px; border-radius: 10.67px; padding: 0; padding-right: 5px; margin-top: 3px; display: flex; justify-content: space-between; align-items: center;"
                    id="panier-btn">
                    <div style="width: 30%; height: 100%; display: flex; align-items: center;">
                        <img id="1" src="/img/header/shopping_cart_logo.png" alt=""
                            style="max-height: 100%; max-width: 100%; margin-right: 10px; padding-left: 5px">
                    </div>
                    <div
                        style="width: 70%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: flex-center;">
                        <div style="display: flex; flex-direction: column; align-items: flex-center;">
                            <p id="2" style="margin: 0; color: white; font-size: 14px; font-weight: bold;">Shopping Cart
                            </p>
                            <p id="panier-btn-content"
                                style="margin: 0; color: white; font-size: 14px; margin-top: 0.2rem; font-weight: bold; padding-left: 0;">
                                {{headerCart.number_of_items}} items - ${{headerCart.subtotal}}
                            </p>
                        </div>
                    </div>
                </button>
            </a>
        </div>
    </div>
</header>