<div class="container">
    <h2>Checkout</h2>
    <main class="my-5">

        <div class="row g-5">

            <div class="col-md-6">
                <h4 class="mb-3 text-primary">Shipping details</h4>
                <form class="needs-validation" novalidate="">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstame-ship" placeholder=""
                                value="{{user.first_name}}" required>
                            <div id="first-error" class="error-field"></div>

                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastname-ship" placeholder=""
                                value="{{user.last_name}}" required>
                            <div id="last-error" class="error-field"></div>

                        </div>

                        <div class="col-md-12">

                            <label for="check-usa" class="form-label">United States</label>
                            <input type="checkbox" class="form-usa" id="check-usa-ship" {{#unless
                                countryShipping}}checked{{/unless}}>

                            <label for="check-canada" class="form-label">Canada</label>
                            <input type="checkbox" class="form-canada" id="check-canada-ship" {{#if
                                countryShipping}}checked{{/if}}>

                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Street Address</label>
                            <input type="text" class="form-control" id="address-ship" placeholder="Votre adresse"
                                required value="{{shipping_info.street_address}}">
                            <div id="address-error" class="error-field"></div>

                        </div>

                        <div class="col-12">
                            <input type="text" class="form-control" id="appartment-ship"
                                placeholder="Apartment or suite">
                        </div>

                        <div class="col-12">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city-ship" placeholder="Ville" required
                                value="{{shipping_info.city}}">
                            <div id="city-error" class="error-field"></div>

                        </div>

                        <div class="col-md-12">
                            <label for="state" class="form-label">State/Province</label>
                            <input type="text" class="form-control" id="province-ship" placeholder="ON"
                                value="{{shipping_info.province_state}}" required>
                            <div id="province-error" class="error-field"></div>

                        </div>

                        <div class="col-md-12">
                            <label for="zip" class="form-label">Zip Code/Postal code</label>
                            <input type="text" class="form-control" id="zipcode-ship" placeholder="Code Postal" required
                                value="{{shipping_info.postal_code}}">
                            <div id="zipcode-error" class="error-field"></div>

                        </div>

                    </div>

                    <hr class="my-4">
                </form>
            </div>

            <div class="col-md-6">
                <h4 class="mb-3 text-primary"><input type="checkbox" id="checkbox-different"> Bill a different address ?
                </h4>
                <form class="needs-validation" novalidate="">
                    <fieldset id="different-address">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text" class="form-control" id="firstName-bill"
                                    placeholder="Your First Name" value="{{user.first_name}}" required="">
                                <div id="first-billing-error" class="error-field"></div>

                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="lastName-bill" placeholder="Your Last Name"
                                    value="{{user.last_name}}" required="">
                                <div id="last-billing-error" class="error-field"></div>
                            </div>

                            <div class="col-md-12">
                                <label for="check-usa" class="form-label">United States</label>
                                <input type="checkbox" class="form-usa" id="check-usa-bill" {{#unless
                                    countryBilling}}checked{{/unless}}>

                                <label for="check-canada" class="form-label">Canada</label>
                                <input type="checkbox" class="form-canada" id="check-canada-bill" {{#if
                                    countryBilling}}checked{{/if}}>

                            </div>

                            <div class="col-12">
                                <label for="address" class="form-label">Street Address</label>
                                <input type="text" class="form-control" id="address-bill" placeholder="1234 Main St"
                                    required="" value="{{billing_info.street_address}}">
                                <div id="address-billing-error" class="error-field"></div>

                            </div>

                            <div class="col-12">
                                <input type="text" class="form-control" id="appartment-bill"
                                    placeholder="Apartment or suite">
                                <div id="appartment-billing-error" class="error-field"></div>
                            </div>

                            <div class="col-12">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city-bill" placeholder="Ville" required
                                    value="{{billing_info.city}}">
                                <div id="city-billing-error" class="error-field"></div>
                            </div>

                            <div class="col-md-12">
                                <label for="state" class="form-label">State/Province</label>
                                <input type="text" class="form-control" id="province-bill" placeholder="ontario"
                                    value="{{billing_info.province_state}}" required>
                                <div id="province-billing-error" class="error-field"></div>
                            </div>

                            <div class="col-md-12">
                                <label for="zip" class="form-label">Zip Code/Postal Code</label>
                                <input type="text" class="form-control" id="zipcode-bill" placeholder="Your postal code"
                                    required="" value="{{billing_info.postal_code}}">
                                <div id="zipcode-billing-error" class="error-field"></div>
                            </div>


                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="col-md-12 ">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your order</span>
                </h4>

                <table class="table table-bordered">
                    <tr>
                        <th>Product</th>
                        <th>Subtotal</th>
                    </tr>
                    {{#each orderItems}}
                    {{#if this.is_selected}}
                    <tr>
                        <td>{{this.name}} x {{this.quantity}}</td>
                        <td>{{this.subtotal}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    <tr>
                        <td><strong>Subtotal</strong></td>
                        <td><strong>{{subtotal}}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Tax</strong></td>
                        <td><strong>{{taxAmount}}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td id="order-total"><strong>{{total}}</strong></td>
                    </tr>
                </table>

            </div>

            <div class="col-md-12 pb-4" style="background-color: rgb(234, 234, 234);">

                <h5 class="my-3">Credit card <img src="./credit-card.jpeg" width="20%"></h5>

                <div class="row gy-3 pt-3 pb-5 px-3 my-4" style="background-color: rgb(209, 209, 209);">
                    <p>Pay with your credit card</p>


                    <div class="col-md-12">
                        <label for="cc-number" class="form-label">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="cc-expiration" class="form-label">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="cc-cvv" class="form-label">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback">
                            Security code required
                        </div>
                    </div>


                </div>
                <div class="col-md-12">
                    
                    <input type="checkbox" id="agreement-tos">
                    <label class="form-label">
                        <strong>
                            I have read and i accept the terms of use for this website
                        </strong>
                    </label>
                    <div class="invalid-feedback">
                        Security code required
                    </div>
                </div>

                <button class="btn btn-primary float-end" id="btn-order">Continue to checkout</button>
            </div>
        </div>
    </main>


</div>