<div class="container pt-5">
    <section class="flex shoppingpart">
        <div>
            <div class="shoppinginfo">
                <p class="colorblue space0">Shipping to Canada?</p>
                <p class="space0">Please call 262-376-0768</p>
                <p class="space">Available Monday through Friday between 8:00 a.m and 4:00 p.m CST to place your
                    order Thank you!</p>
            </div>
        </div>
        <div class="grid w100">
            <div class="padspace">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <p>Product</p>
                        </td>
                        <td>
                            <p>Price</p>
                        </td>
                        <td>
                            <p>Quantity</p>
                        </td>
                        <td>
                            <p>Subtotal</p>
                        </td>
                    </tr>
                    {{#each produits}}
                    <tr>
                        <td>
                            <div class="flex red"><input type="checkbox" class="item-isSelected" {{#if this.is_selected}} checked {{/if}}></div>
                        </td>
                        <td>
                            <div class="flex"><img src="img/cat.jpg" /></div>
                        </td>
                        <td>
                            <p id="{{this.product_id}}" class="item-id">{{this.name}}</p>
                        </td>
                        <td>
                            <p class="item-price">{{this.price}}</p>
                        </td>
                        <td>
                            <div class="flex"><input type="number" class="item-quantity" value="{{this.quantity}}" min="1" max="10"></div>
                        </td>
                        <td>
                            <p class="item-subtotal">{{this.subtotal}}</p>
                        </td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td colspan="6">
                            <div class="flex w100 spacer">
                                <div class="flex left">
                                    <input type="text" class="padding10" placeholder="Coupon code" />
                                    <input type="button" class="black padding10" value="APPLY COUPON" />
                                </div>
                                <div class="flex right lastbtn">
                                    <input type="button" class="flex grey padding10" value="UPDATE CART" id="update-cart-btn" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="flex padspace">
                <div class="w50 grid">
                    <H2 class="orange">YOU MAY BE INTERESTED IN...</H2>
                    <div class="grid">
                        <img src="img/ball.jpg" />
                        <p class="blue">ID:3368</p>
                        <h4>#3868 REPL...</h4>
                        <h5 class="blue">$2.49</h5>
                    </div>
                </div>
                <div class="w50">
                    <H2 class="orange">CART TOTALS</H2>
                    <table class="w100 table22">
                        <tr>
                            <td>
                                <p>Subtotal</p>
                            </td>
                            <td>
                                <p id="subtotal">{{subtotal}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Shipping</p>
                            </td>
                            <td>
                                <p class="blue">Calculate shipping</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Tax</p>
                            </td>
                            <td>
                                <p id="tax"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Total</p>
                            </td>
                            <td>
                                <p id="total"></p>
                            </td>
                        </tr>
                    </table>
                    <input type="button" value="PROCEED TO CHECKOUT" class="checkbtn black" id="btn-checkout"/>
                </div>
            </div>
        </div>
    </section>
</div>