<div class="container pt-5">
    <div style="display: {{#if orderStatus}}block{{else}}none{{/if}};">
        <h1 style="text-align: center; color: #0077be">Commande completee avec succes!</h1>
    </div>
    <section class="flex shoppingpart">
        <div>
            <div class="shopping-info">
                <p class="color-blue space-0">Shipping outside of North America?</p>
                <p class="space-0">Please call 262-376-0768</p>
                <p class="space">Available Monday through Friday between 8:00 a.m and 4:00 p.m CST to place your order.
                    Thank you!</p>
            </div>

        </div>
        <div class="grid w100">
            <div class="padspace">
                <table>
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="table-header-right">
                                <p class="table-header-bold">Product</p>
                            </td>
                            <td class="table-header-right">
                                <p class="table-header-bold">Price</p>
                            </td>
                            <td class="table-header-right">
                                <p class="table-header-bold">Quantity</p>
                            </td>
                            <td class="table-header-right">
                                <p class="table-header-bold">Subtotal</p>
                            </td>
                        </tr>
                    </thead>


                    <tbody id="cart-items">
                        {{#each produits}}
                        <tr class="produits" id="{{this.product_id}}">
                            <td>
                                <div class="flex red"><input type="checkbox" class="item-isSelected" {{#if
                                        this.is_selected}} checked {{/if}}></div>
                            </td>
                            <td>
                                <div class="flex"><img src="/img/produits/{{this.product_id}}/main.jpg"
                                        style="width: 50px; height: 50px"> </div>
                            </td>
                            <td>
                                <p class="item-id-bold">{{this.name}}</p>
                            </td>

                            <td>
                                <p class="item-price-bold">${{this.price}}</p>
                            </td>

                            <td>
                                <div class="flex">
                                    <input type="number" class="item-quantity" value="{{this.quantity}}" min="0"
                                        max="10">
                                </div>
                            </td>

                            <td>
                                <p class="item-subtotal">${{this.subtotal}}</p>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <td colspan="6">
                            <div class="flex w100 spacer">
                                <div class="flex left">
                                    <input type="text" class="padding10 mr-2" placeholder="Coupon code" />
                                    <input type="button" class="btn btn-dark" value="APPLY COUPON" />
                                </div>
                                <div class="flex right lastbtn">
                                    <input type="button" class="btn btn-secondary" value="UPDATE CART"
                                        id="update-cart-btn" />
                                </div>
                            </div>
                        </td>
                    </tfoot>

                </table>
            </div>
            <div class="flex padspace mb-5">
                <div class="w50 grid mr-3 pt-5">
                    <H2 class="orange">YOU MAY BE INTERESTED IN...</H2>
                    <div class="row product-list">

                        {{#each pruductsbycategorie}}

                        <div class="col-4 products">
                            <button class="produits-recommander" id="{{this.id}}">
                                <div class="product-container">
                                    <a href="#">
                                        <img src="/img/produits/{{this.id}}/main.jpg" class="img-thumbnail rounded"
                                            style="width: 100px; height: 100px">
                                    </a>
                                    <a href="#" class="product-id">ID:{{this.code}}</a>
                                    <a href="#" class="product-name">#{{this.code}} {{this.name}}</a>
                                    <p class="item-price-bold">${{this.price}}</p>
                                </div>
                            </button>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="w50 pt-5">
                    <H2 class="orange">CART TOTALS</H2>
                    <table class="w100 table22 mb-3">
                        <tr class="border-bottom">
                            <td>
                                <p class="table-header-bold">Subtotal</p>
                            </td>
                            <td>
                                <p id="cart-subtotal">${{subtotal}}</p>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td>
                                <p class="table-header-bold">Shipping Estimate</p>
                            </td>
                            <td>
                                <p class="item-shipping">$0.00<img class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                        <use xlink:href="#cart" />
                                    </svg></img></p>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td>
                                <p class="table-header-bold">Tax</p>
                            </td>
                            <td>
                                <p id="cart-tax">${{taxAmount}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="table-header-bold">Total</p>
                            </td>
                            <td>
                                <p class="table-header-bold" id="cart-total">${{total}}</p>
                            </td>
                        </tr>
                    </table>
                    <input type="button" value="PROCEED TO CHECKOUT" class="btn btn-dark" id="btn-checkout" />
                </div>
            </div>
        </div>
    </section>
</div>