<div class="container">
    <section class="section-one row border-bottom">
        
        <div class="product-left col-4 py-3  d-block " id="imgs-container">

            <img src="/img/produits/{{produit.id}}/main.jpg" class="img-thumbnail rounded" alt="..."
                style="width: 325px; height: 325px; display: block" id="main-big-img">

            <img src="/img/produits/{{produit.id}}/secondary_1.jpg" class="img-thumbnail rounded" alt="..."
                style="width: 325px; height: 325px; display: none" id="sec1-big-img">

            <img src="/img/produits/{{produit.id}}/secondary_2.jpg" class="img-thumbnail rounded" alt="..."
                style="width: 325px; height: 325px; display: none" id="sec2-big-img">

            <img src="/img/produits/{{produit.id}}/secondary_3.jpg" class="img-thumbnail rounded" alt="..."
                style="width: 325px; height: 325px; display: none" id="sec3-big-img">

            <img src="/img/produits/{{produit.id}}/secondary_4.jpg" class="img-thumbnail rounded" alt="..."
                style="width: 325px; height: 325px; display: none" id="sec4-big-img">


            <div style="border: 1px black solid;">
                <span class="material-symbols-outlined nav-img-product" id="arrow-left">
                    arrow_back_ios
                </span>

                <div id="pos-0" style="display: none;">
                    <img src="/img/produits/{{produit.id}}/main.jpg" alt=""
                        style="width: 65px; height: 65px; display: inline" id="main-small-img">
                </div>

                <div id="pos-1" style="display: inline-block;">
                    <img src="/img/produits/{{produit.id}}/secondary_1.jpg" alt=""
                        style="width: 65px; height: 65px; display: inline" id="sec1-small-img">
                </div>

                <div id="pos-2" style="display: inline-block;">
                    <img src="/img/produits/{{produit.id}}/secondary_2.jpg" alt=""
                        style="width: 65px; height: 65px; display: inline" id="sec2-small-img">
                </div>

                <div id="pos-3" style="display: inline-block;">
                    <img src="/img/produits/{{produit.id}}/secondary_3.jpg" alt=""
                        style="width: 65px; height: 65px; display: inline" id="sec3-small-img">
                </div>

                <div id="pos-4" style="display: inline-block;">
                    <img src="/img/produits/{{produit.id}}/secondary_4.jpg" alt=""
                        style="width: 65px; height: 65px; display: inline" id="sec4-small-img">
                </div>

                <span class="material-symbols-outlined nav-img-product" id="arrow-right">
                    arrow_forward_ios
                </span>

            </div>



        </div>

        <div class="product-right col-5 py-3 ml-5 d-block border-left ">
            <div class="border-bottom py-3">
                <h1 class="product-title">{{produit.name}}</h1>
                <div class="product-price" id="product-price">${{produit.price}}</div>
            </div>

            <div class="product-features">
                <h2>FEATURES AND BENEFITS</h2>
                <ul>
                    <li>{{produit.features}}</li>
                </ul>
            </div>

            <div class="smart-tip">
                <h3 class="smart-tip-title">Smart Tip</h3>
                <p class="smart-tip-description">{{produit.smart_tips}}</p>
            </div>

            <div class="quantity">
                <label class="form-label" for="quantite">Quantité :</label>
                <input class="col-form-label" type="number" id="quantity" name="quantite" value="1" min="1">
                <button class="btn btn-primary mb-1" id="Cart-button" data-productid="{{produit.id}}" {{#unless cartAccess}}disabled{{/unless}}>Add to Cart</button>
            </div>

            <div class="product-details">
                <div class="product-column">
                    <div class="product-code">
                        <label for="codeproduct" class="form-label">Product Code: </label>
                        <input class="form-control" id="product-code" type="text" value="{{produit.code}}" disabled
                            readonly>
                    </div>
                    <div class="availability">
                        <label for="availability" class="form-label">Availability: </label>
                        <input class="form-control" id="availability" type="text"
                            value="{{#if produit.availability}}In Stock{{else}}Not Available{{/if}}" disabled readonly>
                    </div>
                    
                    <div class="categories">
                        
                        <label for="categories" class="form-label">Categories: </label>
                        <input class="form-control" id="categories" type="text" value="{{categorieProduit.name}}" disabled readonly>
                        
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="section-two row border-bottom py-3">
        <div class="container">
            
            <div class="row">
                <div class="tabs col-2">
                    <div class="tab active border-bottom" id="description">Description</div>
                    <div class="tab" id="information">Information</div>
                </div>
                <div class="tab-content col">
                    <div class="tab-panel" id="description-content" style="display: block;">
                        <p>{{produit.description}}</p>
                    </div>
                    <div class="tab-panel" id="information-content" style="display: none;">
                        <p>{{produit.info}}</p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <div class="container py-5 border-bottom">

        <div class="InteractiveTitle">
            <h2>Related Products</h2>
        </div>

        <div class="row product-list">

            {{#each pruductsbycategorie}}

            <div class="col-4 products">
                <button class="produits" id="{{this.id}}">
                    <div class="product-container">
                        <a href="#">
                            <img src="/img/produits/{{this.id}}/main.jpg" class="img-thumbnail rounded" style="width: 230px; height: 230px">
                        </a>
                        <a href="#" class="product-id">ID:{{this.code}}</a>
                        <a href="#" class="product-name">#{{this.code}} {{this.name}}</a>
                        <p class="product-price">${{this.price}}</p>
                    </div>
                </button>
            </div>
            {{/each}}
        </div>



    </div>
</div>
