<div class="container">
    <section class="justify-content-around section-one row border-bottom">
    <div class="product-left col-12 col-md-4 py-3 mx-4 mb-4">
        <h1 class="h1 mb-3">Informations</h1>
        <div>
            <div class="text-center mb-3">
                <img src="/img/user.avif" class="img-thumbnail rounded" alt="...">
            </div>
            <ul class="list-group">
                <li class="list-group-item" id="nomInfo">Nom : {{user.last_name}}</li>
                <li class="list-group-item" id="prenomInfo">Prenom : {{user.first_name}}</li>
                <li class="list-group-item" id="adresseInfo">Adresse : {{shippingInfo.appartment}}, {{shippingInfo.street_address}}, {{shippingInfo.city}}, {{shippingInfo.province_state}}, {{shippingInfo.country}}, {{shippingInfo.postal_code}}</li>
                <li class="list-group-item" id="emailInfo">Adresse Email : {{user.email}}</li>
            </ul>
        </div>
    </div>

    <div class="product-right col-12 col-md-5 py-3 mx-4 mb-4 border-left">
        <h1 class="h1 mb-3">Update Information</h1>
        <form>
            <div class="mb-3">
                <label for="InputNom" class="form-label">Nom</label>
                <input type="text" class="form-control" value="{{user.last_name}}" id="InputNom" required>
            </div>
            <div class="mb-3">
                <label for="InputPrenom" class="form-label">Prenom</label>
                <input type="text" class="form-control" value="{{user.first_name}}" id="InputPrenom" required>
            </div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" value="{{user.email}}" id="InputEmail" aria-describedby="emailHelp" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="InputAppartement" class="form-label">Appartement</label>
                <input type="text" class="form-control" value="{{user.appartment}}" id="InputAppartement" required>
            </div>
            <div class="mb-3">
                <label for="InputAdresse" class="form-label">Adresse</label>
                <input type="text" class="form-control" value="{{user.street_address}}" id="InputAdresse" required>
            </div>
            <div class="mb-3">
                <label for="InputVille" class="form-label">Ville</label>
                <input type="text" class="form-control" value="{{user.city}}" id="InputVille" required>
            </div>
            <div class="mb-3">
                <label for="InputProvince" class="form-label">Province</label>
                <input type="text" class="form-control" value="{{user.province_state}}" id="InputProvince" required>
            </div>
           

            <form id="update-info-form">

                <div class="mb-3">
                    <label for="InputNom" class="form-label">Nom</label>
                    <input type="text" class="form-control" value="{{user.last_name}}" id="InputNom" required>
                    <div id="last-error" class="error-field"></div>
                </div>
                <div class="mb-3">
                    <label for="InputPrenom" class="form-label">Prenom</label>
                    <input type="text" class="form-control" value="{{user.first_name}}" id="InputPrenom" required>
                    <div id="first-error" class="error-field"></div>
                </div>
                <div class="mb-3">
                    <label for="InputEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" value="{{user.email}}" id="InputEmail"
                        aria-describedby="emailHelp" required>
                    <div id="email-error" class="error-field"></div>
                </div>

                <div class="mb-3">
                    <label for="InputAppartement" class="form-label">Appartement</label>
                    <input type="text" class="form-control" value="{{shippingInfo.appartment}}" id="InputAppartement">
                    <div id="appartment-error" class="error-field"></div>
                </div>

                <div class="mb-3">
                    <label for="InputAdresse" class="form-label">Adresse</label>
                    <input type="text" class="form-control" value="{{shippingInfo.street_address}}" id="InputAdresse" required>
                    <div id="address-error" class="error-field"></div>
                </div>
                <div class="mb-3">
                    <label for="InputVille" class="form-label">Ville</label>
                    <input type="text" class="form-control" value="{{shippingInfo.city}}" id="InputVille" required> 
                    <div id="city-error" class="error-field"></div>
                </div>
                <div class="mb-3">
                    <label for="InputProvince" class="form-label">Province</label>
                    <input type="text" class="form-control" value="{{shippingInfo.province_state}}" id="InputProvince" required>
                    <div id="province-error" class="error-field"></div>
                </div>
                <div class="mb-3">
                    <label for="check-usa" class="form-label">United States</label>
                    <input type="checkbox" class="form-usa" id="check-usa-ship" {{#unless
                        countryShipping}}checked{{/unless}}>

                    <label for="check-canada" class="form-label">Canada</label>
                    <input type="checkbox" class="form-canada" id="check-canada-ship" {{#if
                        countryShipping}}checked{{/if}}>
                    <div class="invalid-feedback">
                        Please select a country.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="InputCodePostale" class="form-label">Code Postale</label>
                    <input type="text" class="form-control" value="{{shippingInfo.postal_code}}" id="InputCodePostale" minlength="6" maxlength="7" pattern="^[A-Za-z]\d[A-Za-z][ -]?\d[A-Za-z]\d$" aria-describedby="postalHelp" required>
                    <div id="zipcode-error" class="error-field"></div>
                </div>
                
                
                <button type="submit" id="Update-user" class="btn btn-primary">Submit</button>
            </form>


            <h1 class="h1 mb-3">Change Password</h1>
            <form novalidate id="form-login">
                <div class="mb-3">
                    <label for="InputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="InputPassword1" placeholder="new password"
                        pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)">
                    <div id="password-error-field" class="error-field">Must be 8-20 characters long.</div>

                </div>
                <div class="mb-3">
                    <label for="InputPassword2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" placeholder="confirm password" id="InputPassword2"
                        pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)">
                    <div id="password-error-field" class="error-field">Must be 8-20 characters long.</div>
                </div>
                <button type="submit" id="Update-password" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>




    <section class="mb-3 mt-3 section-two row border-botto flex shoppingpart">
        <div class="grid w100">
            <div class="padspace">
                <h1 class="h1 mb-3">Liste des commandes</h1>
                <!-- Code HTML de l'accordéon -->
                {{#each commandes}}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{this.id}}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{this.id}}" aria-expanded="true"
                                aria-controls="collapse{{this.id}}">
                                Date : {{this.date}} - Utilisateur : {{this.first_name}}
                                {{this.last_name}} - Total : {{this.total}}$
                            </button>
                        </h2>
                        <div id="collapse{{this.id}}" class="accordion-collapse collapse show"
                            aria-labelledby="heading{{this.id}}" data-bs-parent="#accordionExample">

                            <div class="accordion-body mb-3">
                                {{#each this.products}}
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <img src="/img/produits/{{this.product_id}}/main.jpg" alt=""
                                            class="img-thumbnail rounded" style="width: 150px; height: 120px">
                                    </div>
                                    <div class="col-md-6">
                                        <h3>{{this.name}}</h3>
                                        <p>Quantity : {{this.quantity}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>Price : {{this.subtotal}}$</p>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
    </section>
</div>
<script nonce="38db610ac4">

    $(document).ready(function () {

        $('.accordion-button').click(function () {

            var $collapse = $(this).closest('.accordion-header').next('.accordion-collapse');

            $collapse.collapse('toggle');

        });

    });

</script>