<div class="container">
    <section class="section-one row border-bottom">


        <div class="product-left col-4 py-3 ml-4  d-block ">
            <h1 class="h1 mb-3">Informations</h1>
            <div>

                <div class="text-center mb-3">
                    <img src="/img/user.avif" class="img-thumbnail rounded" alt="...">
                </div>

                <ul class="list-group">
                    <li class="list-group-item" id="nomInfo">
                        Nom : {{user.last_name}}
                    </li>
                    <li class="list-group-item" id="prenomInfo">
                        prenom : {{user.first_name}}
                    </li>
                    <li class="list-group-item" id="adresseInfo">
                        Adresse : {{user.appartment}}, {{user.street_address}}, {{user.city}}, {{user.province_state}},
                        {{user.country}}, {{user.postal_code}}
                    </li>
                    <li class="list-group-item" id="emailInfo">
                        Adresse Email : {{user.email}}
                    </li>

                </ul>

            </div>


        </div>

        <div class="product-right col-5 py-3 ml-5 d-block border-left">
            <h1 class="h1 mb-3">Update Information</h1>

            <form>

                <div class="mb-3">
                    <label for="InputNom" class="form-label">Nom</label>
                    <input type="text" class="form-control" value="{{user.last_name}}" id="InputNom">
                </div>
                <div class="mb-3">
                    <label for="InputPrenom" class="form-label">Prenom</label>
                    <input type="text" class="form-control" value="{{user.first_name}}" id="InputPrenom">
                </div>
                <div class="mb-3">
                    <label for="InputEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" value="{{user.email}}" id="InputEmail"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="mb-3">
                    <label for="InputAppartement" class="form-label">Appartement</label>
                    <input type="text" class="form-control" value="{{user.appartment}}" id="InputAppartement">
                </div>

                <div class="mb-3">
                    <label for="InputAdresse" class="form-label">Adresse</label>
                    <input type="text" class="form-control" value="{{user.street_address}}" id="InputAdresse">
                </div>
                <div class="mb-3">
                    <label for="InputVille" class="form-label">Ville</label>
                    <input type="text" class="form-control" value="{{user.city}}" id="InputVille">
                </div>
                <div class="mb-3">
                    <label for="InputProvince" class="form-label">Province</label>
                    <input type="text" class="form-control" value="{{user.province_state}}" id="InputProvince">
                </div>
                <div class="mb-3">
                    <label for="InputPays" class="form-label">Pays</label>
                    <input type="text" class="form-control" value="{{user.country}}" id="InputPays">
                </div>
                <div class="mb-3">
                    <label for="InputCodePostale" class="form-label">Code Postale</label>
                    <input type="text" class="form-control" value="{{user.postal_code}}" id="InputCodePostale">
                </div>
                <button type="submit" id="Update-user" class="btn btn-primary">Submit</button>
            </form>


            <h1 class="h1 mb-3">Change Password</h1>
            <form>
                <div class="mb-3">
                    <label for="InputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" value="{{user.password}}" id="InputPassword1">
                    <div id="InputPassword1" class="form-text">Must be 8-20 characters long.</div>

                </div>
                <div class="mb-3">
                    <label for="InputPassword2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" value="{{user.password}}" id="InputPassword2">
                    <div id="InputPassword2" class="form-text">Must be 8-20 characters long.</div>
                </div>
                <button type="submit" id="Update-password" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>




    <section class="mb-3 mt-3 section-two row border-botto flex shoppingpart">
        <div class="grid w100">
            <div class="padspace">
                <h1 class="h1 mb-3">Liste des commandes</h1>
                <!-- Code HTML de l'accordéon -->
                {{#each commandes}}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{this.id}}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{this.id}}" aria-expanded="true"
                                aria-controls="collapse{{this.id}}">
                                Commande #{{this.id}} - Date : {{this.date}} - Utilisateur : {{this.first_name}}
                                {{this.last_name}} - Total : {{this.total}}$
                            </button>
                        </h2>
                        <div id="collapse{{this.id}}" class="accordion-collapse collapse show"
                            aria-labelledby="heading{{this.id}}" data-bs-parent="#accordionExample">
                            {{/each}}
                            <div class="accordion-body mb-3">
                                {{#each OrderProducts}}
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <img src="/img/produits/{{this.product_id}}/main.jpg" alt="" class="img-thumbnail rounded"
                                         style="width: 200px; height: 100px">
                                    </div>
                                    <div class="col-md-6">
                                        <h3>{{this.name}}</h3>
                                        <p>Quantity : {{this.quantity}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>Price : {{this.price}}$</p>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
    </section>
</div>

